$text-color: #eee;

$workspace-indicator-size: 9px;
$workspace-indicator-size-active: 12px;
$workspace-indicator-color: $text-color;
$workspace-indicator-opacity: 0.2;
$workspace-indicator-opacity-hover: 0.3;
$workspace-indicator-opacity-active: 1;

* {
  font-family: "Noto Nerd Font Propo";
}

window.bar {
  background-color: transparent;

  .bar-content {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 150ms ease-in-out;
  }

  .bar-content.no-windows {
    background-color: transparent;
  }

  .workspaces {
    padding: 10px 20px;

    button.workspace {
      min-width: $workspace-indicator-size-active;
      min-height: $workspace-indicator-size-active;
      border-radius: $workspace-indicator-size-active;
      background-image: none;
      background-color: inherit;
      border: none;
      padding: 0;
      margin: 0px 5px 0px 5px;
      transition: 150ms ease-in-out;

      .workspace-indicator {
        min-width: $workspace-indicator-size;
        min-height: $workspace-indicator-size;
        border-radius: $workspace-indicator-size;
        background-color: rgba($workspace-indicator-color, $workspace-indicator-opacity);
      }

      &:hover:not(.active) .workspace-indicator {
        background-color: rgba($workspace-indicator-color, $workspace-indicator-opacity-hover);
      }

      &.active {
        background-color: rgba($workspace-indicator-color, $workspace-indicator-opacity-active);
        min-width: calc($workspace-indicator-size-active * 2);
      }

      &.urgent .workspace-indicator {
        background-color: rgba($workspace-indicator-color, $workspace-indicator-opacity-active);
        animation: pulse 1s ease-in-out infinite;
        transition: none;
      }

      @keyframes pulse {

        0%,
        100% {
          opacity: $workspace-indicator-opacity;
        }

        50% {
          opacity: 1;
        }
      }

    }
  }

  .clock {
    font-size: 15px;
    font-weight: 700;
    color: $text-color;
  }
}